<p>{{title}}</p>
<p [innerHTML]="title"></p>
<p>title</p>
<!--Da preferire l'interpolazione-->
<div>{{HTMLString}}</div>
<!--questo copia la stringa-->
<div [innerHTML]="HTMLString"></div>
<!--questo crea la struttura html-->

<div>
    <a href="https://google.it">Link</a>
</div>
<div>
    <a href="{{linkUrl}}">Link</a>
    <!--E' corretto anche questo ma per un codice più pulito si preferisce quello sotto-->
</div>
<div>
    <a [href]="linkUrl">Link</a>
    <!--questa è la più corretta-->
</div>

<p>{{titoloInput}} works!</p>

<!--provo a visualizzare tutti gli elemts della lista ma se ne aggiungo 1 non lo vedo-->
<!--<div>{{lista[0]}}</div>
<div>{{lista[1]}}</div>
<div>{{lista[2]}}</div>-->

<!--quindi-->

<div *ngFor="let pippo of lista">
    {{pippo}}
</div>

<!--aggiunta operatore pipe che prende tutto il valore della variabile e gli apllica una funzione a nostra scelta-->
<p>{{titoloInput | uppercase}} works!</p>
<p>{{titoloInput | lowercase}} works!</p>
<p>{{myDate}}</p>
<p>{{myDate | date}}</p>
<p>{{myDate | date:'long'}}</p>
<p>{{myDate | date | uppercase}}</p>
<!--si possono anche concatenare i pipe-->
<!--formattazione data-->
<!--pipe funziona solo a livello visivo-->